.userItem {
  border-radius: 15px;
  border: 1px solid red;
  background-color: white;
  padding: 5px;
  margin-top: 20px;
}
.userItem > li {
  display: flex;
}
.userItem__name {
  display: flex;
  padding: 10px;
  align-items: center;
  font-size: large;
  font-weight: bold;
  color: rgb(250, 142, 160);
}
.userItem__age {
  display: flex;
  padding: 10px;
  align-items: center;
  font-size: large;
  font-weight: bold;
  color: rgb(250, 142, 160);
}
.userItem__name > p {
  margin-right: 10px;
  color: black;
}
.userItem__age > p {
  margin-right: 10px;
  color: black;
}
